<%= render 'form', restaurant: @restaurant %>
<%= link_to 'Back to all tasks', tasks_path %>
<!-- <form action="/tasks" method="post">

  <label for="title">Title</label>
  <input type="text" name="task[title]">

  <label for="details">Details</label>
  <input type="text" name="task[details]">

  <input type="submit">

</form>
 -->
